{% extends 'base.html' %}

{% block title %}Bestellungen{% endblock %}
{% block header %}Bestellungen{% endblock %}
{% block actions %}
<a href="{% url 'order-download' %}" class="btn btn-primary" role="button">Alle Downloaden</a>
<a href="{% url 'breakfast-download' %}" class="btn btn-secondary" role="button">Frühstücksliste Downloaden</a>
{% endblock %}
{% block body %}
{% if object_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Bestellung</th>
				<th scope="col">Diözese / Bezirk</th>
				<th scope="col">Stamm</th>
				<th scope="col">Kontakt</th>
				<th scope="col">Anzahl Teilnehmde</th>
				<th scope="col">Anzahl Workshops</th>
				<th scope="col">Aktionen</th>
			</tr>
		</thead>
		<tbody>
			{% for order in object_list %}
				<tr>
					<th scope="row"><a href="{% url 'order-detail' order.id %}">{{order.code}}</a></th>
					<th scope="row">{{order.district}}</th>
					<th scope="row">{{order.clan}}</th>
					<th scope="row">{{order.first_name}} {{order.last_name}}</th>
					<td>{{order.participant_count}}</td>
					<td class="{% if order.sufficient_workshops %}bg-success{% else %}bg-danger{% endif %}">{{order.workshop_set.count}}</td>
					<td>
						<a href="{{order.get_pretix_url}}" class="btn btn-sm text-white" style="background-color: #7f5a91; border-color:#715081;" role="button">Bestellung in pretix öffnen</a>
						<a href="{% url 'order-detail' order.pk %}" class="btn btn-primary btn-sm" role="button">Bestellung ansehen</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
Keine Bestellungen gefunden!
{% endif %}
{% endblock %}
